<% form_for :partner, partner, :url => { :action => "edit",:id=>partner.id },:html=>{:multipart=>true,:class=>"tabular"} do |f| %>
  <%= render :partial=>"form", :locals => { :f => f } %>
   <div class="buttons right">
    <%= submit_tag l(:button_save),:class=>"btn_blue corner-all button" %>
  </div>
<% end %>
