<%= error_messages_for 'attachment' %>

<% form_tag({ :action => 'add_file', :id => @project.id }, :multipart => true, :class => "tabular") do %>
<p>
  <label><%=l(:label_attachment_plural)%></label><%= render :partial => 'file_attachments/form' %>
</p>
<div class="buttons right">
  <%= submit_tag l(:button_add),:class=>"button btn_blue corner-all" %>
</div>
<% end %> 