<div id="project-description-bloc">
  <% if project.description %>
      <%= textilizable project.description %>
    <% else %>
      <div class="emptymessage">
            <p><%= l(:project_add_description) %>
     </div>
  <% end %>
</div>
<div id="description"></div>
