<%= box(
    "#{l(:label_project_status_plural)}",
    "#{render:partial=>'project_statuses/box/list'}",
    ["#{link_to l(:label_project_status_new), {:action => 'new'}, :class => 'icon icon-add'}"]
) %>