<% labelled_tabular_form_for :custom_field, @custom_field, :url => { :action => "edit", :id => @custom_field } do |f| %>
<%= render :partial => 'form', :locals => { :f => f } %>
<div class="buttons right">
  <%= submit_tag l(:button_save),:class=>"button btn_blue corner-all" %>
</div>
<% end %>
