<table class="list" style="text-align:left;">
  <thead>
    <tr>
      <th>subject</th>
      <th>Tracker</th>
      <th>statut</th>
      <th>Priority</th>
      <th>Asign to</th>
      <th>Update on</th>
      <th>Realise</th>
    </tr>
  </thead>
  <tbody>
    <%= init_tree_table(@issues) %>
  </tbody>
</table>