<%= error_messages_for 'partner' %>

<!--[form:partner]-->

<p><label for ="name"><%= l(:label_name) %></label><%= f.text_field :name, :required => true, :size => 25  %></p>
<p><label for ="logo"><%= l(:label_logo) %></label><%= f.file_field :logo %></p>
<!--[eoform:partner]-->
