/***** Layout *****/
select {width:228px;}
ul {padding:0;margin:0;}
.right{float:right;}
.left {float:left;}
#wrapper {background: #382D24;}

#top-menu {float:right;background: transparent; color: #fff; height:1.8em; font-size: 0.8em; padding: 2px 2px 0px 6px;}
#top-menu ul {margin: 0;  padding: 0;}
#top-menu li {
  float:left;
  list-style-type:none;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  white-space:nowrap;
}
#top-menu a {color: #fff; margin-right: 8px; font-weight: bold;}
#top-menu #loggedas { float: right; margin-right: 0.5em; color: #fff; }

#account {float:right;}

#quick-search {float:right;}

#main {background-color:#EEEEEE;}

.clearer { clear: both; }
body {
  font-family: arial, tahoma, sans-serif;
  font-size: 11px;
  background-color: #372d24;
  color: #ffffff;
}
#header_wrapper {
  height: 70px;
  background: transparent url(../images/header_background.png) left repeat-x;
}
#body_wrapper {
  position: relative;
  padding-left: 175px;
  /*padding-right: 175px;*/
}
#left_column_wrapper {
  width: 175px;
  position: absolute;
  left: 0;
}
#right_column_wrapper { width: 175px; }
#search_wrapper {
  padding: 10px;
  text-align: center;
}
#search_wrapper #search {
  border: 1px solid #190f06;
  padding: 2px;
  color: #999999;
}
#content_wrapper {
  background-color: #ffffff;
  color: #333333;
  padding: 10px;
  min-height: 600px;
}
#status_box { float: right; }
#tabs_wrapper ul li { float: left; }
#tabs_wrapper ul li a:link {
  display: block;
  width: 89px;
  height: 10px;
  overflow: hidden;
  padding: 5px;
  margin-right: 4px;
  text-align: center;
  font-size: 11px;
  text-transform: uppercase;
  text-decoration: none;
  background: transparent url(../images/tab.png) top center no-repeat;
  color: #ffffff;
}

#tabs_wrapper ul li a:link {
  display: block;
  width: 89px;
  height: 10px;
  overflow: hidden;
  padding: 5px;
  margin-right: 4px;
  text-align: center;
  font-size: 11px;
  text-transform: uppercase;
  text-decoration: none;
  background: transparent url(../images/tab.png) top center no-repeat;
  color: #ffffff;
}

#tabs_wrapper ul li a:visited {
  display: block;
  width: 89px;
  height: 10px;
  overflow: hidden;
  padding: 5px;
  margin-right: 4px;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  background: transparent url(../images/tab.png) top center no-repeat;
  color: #ffffff;
}


#tabs_wrapper ul li a.selected {
  background: transparent url(../images/tab.png) bottom center no-repeat;
  color: #009eee;
  font-weight:bold;
}
#tabs_wrapper ul li a,#places_wrapper ul li a {font-weight:bold;}

#tabs_wrapper ul li a.active:link {
  background-position: bottom center;
  color: #009eee;
  font-weight: bold;
}
#tabs_wrapper ul li a.active:visited {
  background-position: bottom center;
  color: #009eee;
  font-weight: bold;
}
#tabs_wrapper ul li a:hover {
  background-position: bottom center;
  color: #009eee;
  font-weight: bold;
}

#places_wrapper ul li a:link {
  display: block;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
  padding-left: 45px;
  color: #ffffff;
  background-color: #190f06;
}

#places_wrapper ul li a:visited {
  display: block;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
  padding-left: 45px;
  color: #ffffff;
  background-color: #190f06;
}
#places_wrapper ul li a:hover {
  color: #009eee;
  font-weight: bold;
}
#places_wrapper ul li a.active {
  color: #009eee;
  font-weight: bold;
}
#places_wrapper ul #home_button a:link { background: transparent url(../images/home.png) left bottom no-repeat; }
#places_wrapper ul #home_button a:visited { background: transparent url(../images/home.png) left bottom no-repeat; }
#places_wrapper ul #home_button a:hover { background-image: url(../images/home_hover.png); }
#places_wrapper ul #home_button a.active { background-image: url(../images/home_hover.png); }
#places_wrapper ul #communities_button a:link { background: transparent url(../images/communities.png) left bottom no-repeat; }
#places_wrapper ul #communities_button a:visited { background: transparent url(../images/communities.png) left bottom no-repeat; }
#places_wrapper ul #communities_button a:hover { background-image: url(../images/communities_hover.png); }
#places_wrapper ul #communities_button a.active { background-image: url(../images/communities_hover.png); }
#places_wrapper ul #profile_button a:link { background: transparent url(../images/profile.png) left bottom no-repeat; }
#places_wrapper ul #profile_button a:visited { background: transparent url(../images/profile.png) left bottom no-repeat; }
#places_wrapper ul #profile_button a:hover { background-image: url(../images/profile_hover.png); }
#places_wrapper ul #profile_button a.active { background-image: url(../images/profile_hover.png); }
h1 {
  font-size: 1.5em;
  margin-bottom: 10px;
}
.message, .errorExplanation {
  margin: 5px 0 15px 0;
  padding: 10px;
  text-align: left;
  line-height: 1.2em;
  border: 1px solid #ffffff;
}
.success_message {
  color: #529214;
  background-color: #e6efc2;
  border-color: #c6d880;
}
.notice_message {
  background-color: #fcffd6;
  border-color: #fbf1a0;
}
.error_message, .errorExplanation {
  color: #d12f19;
  background-color: #fbe3e4;
  border-color: #fbc2c4;
}
.neutral_message {
  color: #333333;
  background-color: #dff4ff;
  border-color: #c2e1ef;
}
table.form td { padding: 2px 5px; }
table.form tr { padding: 2px 5px; }
.box {
  border: 1px solid #dddddd;
  margin-bottom: 10px;
}
.box .box_header {
  background-color: #eeeeee; 
  font-weight: bold;
  text-transform: uppercase;
  color: #555;
}
.box .box_content { 
  border-top: 1px solid #dddddd;
}

.box_content h3 {font-weight:bold;text-transform:uppercase;padding-top:3px;padding-left:5px;font-size:11px;background:url(../images/bg_bloc_admin.png) repeat-x;margin-left:5px;margin-right:5px;height:20px;}


.button_wrapper {
  float: left;
  color: #ffffff;
}
.button_wrapper a:link {
  display: block;
  background-color: #009eee;
  padding: 2px 10px;
  margin-bottom: 5px;
  border: 1px solid #009eee;
  color: #ffffff;
  text-decoration: none;
  -moz-border-radius: 3px;
  text-transform: uppercase;
}
.button_wrapper a:visited {
  display: block;
  background-color: #009eee;
  padding: 2px 10px;
  margin-bottom: 5px;
  border: 1px solid #009eee;
  color: #ffffff;
  text-decoration: none;
  -moz-border-radius: 3px;
  text-transform: uppercase;
}
a:link { color: #009eee; }
a:visited { color: #009eee; }
p {
  margin-top:2px;
  margin-bottom: 2px;
}


#footer {clear: both; font-size: 0.9em; color: #aaa; padding: 5px; text-align:center; }

#login-form table {-moz-border-radius:10px;margin-top:5em; padding:1em; margin-left: auto; margin-right: auto; border: 1px solid black; background-color:#382D24;color:#fff;}
#login-form table td {padding: 6px;}
#login-form label {color:#fff;font-weight: bold;}
#forgot_password a{color:#fff;}
.clearer:after{ content: "."; display: block; height: 0; clear: both; visibility: hidden; }

/***** Links *****/
a, a:link, a:visited{ color: #333333; text-decoration: none; }
a:hover, a:active{text-decoration: none;color:#009EEE;}
a img{ border: 0; }

a.issue.closed, a.issue.closed:link, a.issue.closed:visited { text-decoration: line-through; }

/***** Tables *****/
table.issues a, table.issues {color:#333333;}
table.list {border-collapse: collapse; width: 100%;}
table.list th {  background-color:#EEEEEE; padding: 4px; white-space:nowrap; }
table.list td { border-right:2px solid #DDDDDD;vertical-align: top; }
table.list td.id { width: 2%; text-align: center;}
table.list td.checkbox { padding: 0px;}

tr.issue { text-align: center; white-space: nowrap; }
tr.issue td.subject, tr.issue td.category, td.assigned_to { white-space: normal; }
tr.issue td.subject { text-align: left; }
tr.issue td.done_ratio table.progress { margin-left:auto; margin-right: auto;}

tr.entry { border: 1px solid #f8f8f8; }
tr.entry td { white-space: nowrap; }
tr.entry td.filename { width: 30%; }
tr.entry td.size { text-align: right; font-size: 90%; }
tr.entry td.revision, tr.entry td.author { text-align: center; }
tr.entry td.age { text-align: right; }

tr.entry span.expander {background-image: url(../images/bullet_toggle_plus.png); padding-left: 8px; margin-left: 0; cursor: pointer;}
tr.entry.open span.expander {background-image: url(../images/bullet_toggle_minus.png);}
tr.entry.file td.filename a { margin-left: 16px; }

tr.changeset td.author { text-align: center; width: 15%; }
tr.changeset td.committed_on { text-align: center; width: 15%; }

table.files tr.file td { text-align: center; }
table.files tr.file td.filename { text-align: left; padding-left: 24px; }
table.files tr.file td.digest { font-size: 80%; }

tr.message { height: 2.6em; }
tr.message td.last_message { font-size: 80%; }
tr.message.locked td.subject a { background-image: url(../images/locked.png); }
tr.message.sticky td.subject a { background-image: url(../images/sticky.png); font-weight: bold; }

tr.user td { width:13%; }
tr.user td.email { width:18%; }
tr.user td { white-space: nowrap; }
tr.user.locked, tr.user.registered { color: #aaa; }
tr.user.locked a, tr.user.registered a { color: #aaa; }

tr.time-entry { text-align: center; white-space: nowrap; }
tr.time-entry td.subject, tr.time-entry td.comments { text-align: left; white-space: normal; }
td.hours { text-align: right; font-weight: bold; padding-right: 0.5em; }
td.hours .hours-dec { font-size: 0.9em; }

table.plugins td { vertical-align: middle; }
table.plugins td.configure { text-align: right; padding-right: 1em; }
table.plugins span.name { font-weight: bold; display: block; margin-bottom: 6px; }
table.plugins span.description { display: block; font-size: 0.9em; }
table.plugins span.url { display: block; font-size: 0.9em; }

table.list tbody tr:hover { background-color:#ffffdd; }

table p {margin:0;}
.odd {background-color:#EEEEEE;}
.even {background-color: #fff;}

.highlight { background-color: #FCFD8D;}
.highlight.token-1 { background-color: #faa;}
.highlight.token-2 { background-color: #afa;}
.highlight.token-3 { background-color: #aaf;}

.box{
    border: 1px solid #DDDDDD;
}

.box_notifications {padding:5px;text-align:center;}
/*Sidebar*/
.sidebar_box {
    border-left:5px solid #EEEEEE;
    border-top:5px solid #EEEEEE;
    border-bottom:5px solid #EEEEEE;
    width:150px;
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-topleft:5px;
    float:right;
    padding:5px;
    margin-top:20px;
    background:#fff;
}
.sidebar_box a {color:#505050;font-weight:bold;}

#project_author .name{color:#009EEE;font-weight:bold;}

.sidebar_head {height:17px;padding-top:3px;border:1px solid #DDDDDD;font-weight:bold;color:#fff;text-transform:uppercase;text-align:center;background:url(/images/bg_blue.png) repeat-x;}
.sidebar_head p {margin:0;padding:3px 0;}
.new_menu {padding:20px;}
.new_menu p{margin-bottom:5px;}

.small {margin:5px 0 5px 0;}
.small a {color:#333333;font-size:11px;}
.box_header {
    font-size:11px;
    color:#333333;
    padding-left:10px;
    font-weight:bold;
    height:23px;
    padding-top:5px;
    background:url(../images/entete_bloc_5px.png) repeat-x 0 50%;
    text-transform:uppercase;
}

.in_late {padding:0 10px 0 10px;}
table.issues_list a,table.issues_list{color:#777777;}
table.issues_list tr.active, table.issues_list tr.active a {font-weight:bold;color:#009EEE;}
table.issues tfoot td {border-right:none;}
table.issues tfoot {height:10px;background:url(../images/entete_bloc_5px.png) repeat-x ;}
table.issues td,table.issues th {border-right:2px solid #DDDDDD;text-align:left;padding-left:10px;}
table.issues_list td,table.issues_list th {border-right:2px solid #DDDDDD;}
table.issues td.last {border-right:none;}
table.issues thead {background:#EEEEEE;font-weight:bold;}
table.list td.priority {border-right:none;}


div.square {
 border: 1px solid #999;
 float: left;
 margin: .3em .4em 0 .4em;
 overflow: hidden;
 width: .6em; height: .6em;
}
.contextual {margin-right:10px;float:right; white-space: nowrap; line-height:1.4em; padding-left: 10px; font-size:0.9em;}
.contextual input {font-size:0.9em;}

.splitcontentleft{float:left; width:49%;}
.splitcontentright{float:right; width:49%;}
form {display: inline;}
input, select {font-size:11px;border:1px solid black;vertical-align: middle; margin-top: 1px; margin-bottom: 1px;}
fieldset {border: 1px solid #e4e4e4; margin:0;}
legend {color: #484848;}
hr { width: 100%; height: 1px; background: #ccc; border: 0;}
blockquote { font-style: italic; border-left: 3px solid #e0e0e0; padding-left: 0.6em; margin-left: 2.4em;}
blockquote blockquote { margin-left: 0;}
textarea.wiki-edit { width: 99%; }
li p {margin-top: 0;}
div.issue {background:#ffffdd; padding:6px; margin-bottom:6px;border: 1px solid #d7d7d7;}
p.breadcrumb { font-size: 0.9em; margin: 4px 0 4px 0;}
p.subtitle { font-size: 0.9em; margin: -6px 0 12px 0; font-style: italic; } 
p.footnote { font-size: 0.9em; margin-top: 0px; margin-bottom: 0px; }

fieldset#filters, fieldset#date-range { padding: 0.7em; margin-bottom: 8px; }
fieldset#filters p { margin: 1.2em 0 0.8em 2px; }
fieldset#filters table { border-collapse: collapse; }
fieldset#filters table td { padding: 0; vertical-align: middle; }
fieldset#filters tr.filter { height: 2em; }
fieldset#filters td.add-filter { text-align: right; vertical-align: top; }


div#issue-changesets {float:right; width:45%; margin-left: 1em; margin-bottom: 1em; background: #fff; padding-left: 1em; font-size: 90%;}
div#issue-changesets .changeset { padding: 4px;}
div#issue-changesets .changeset { border-bottom: 1px solid #ddd; }
div#issue-changesets p { margin-top: 0; margin-bottom: 1em;}

div#activity dl, #search-results { margin-left: 2em; }
div#activity dd, #search-results dd { margin-bottom: 1em; padding-left: 18px; font-size: 0.9em; }
div#activity dt, #search-results dt { margin-bottom: 0px; padding-left: 20px; line-height: 18px; background-position: 0 50%; background-repeat: no-repeat; }
div#activity dt.me .time { border-bottom: 1px solid #999; }
div#activity dt .time { color: #777; font-size: 80%; }
div#activity dd .description, #search-results dd .description { font-style: italic; }
div#activity span.project:after, #search-results span.project:after { content: " -"; }
div#activity dd span.description, #search-results dd span.description { display:block; }

#search-results dd { margin-bottom: 1em; padding-left: 20px; margin-left:0px; }
div#search-results-counts {float:right;}
div#search-results-counts ul { margin-top: 0.5em; }
div#search-results-counts  li { list-style-type:none; float: left; margin-left: 1em; }
  
dt.issue { background-image: url(../images/ticket.png); }
dt.issue-edit { background-image: url(../images/ticket_edit.png); }
dt.issue-closed { background-image: url(../images/ticket_checked.png); }
dt.issue-note { background-image: url(../images/ticket_note.png); }
dt.changeset { background-image: url(../images/changeset.png); }
dt.news { background-image: url(../images/news.png); }
dt.message { background-image: url(../images/message.png); }
dt.reply { background-image: url(../images/comments.png); }
dt.wiki-page { background-image: url(../images/wiki_edit.png); }
dt.attachment { background-image: url(../images/attachment.png); }
dt.document { background-image: url(../images/document.png); }
dt.project { background-image: url(../images/projects.png); }

div#roadmap fieldset.related-issues { margin-bottom: 1em; }
div#roadmap fieldset.related-issues ul { margin-top: 0.3em; margin-bottom: 0.3em; }
div#roadmap .wiki h1:first-child { display: none; }
div#roadmap .wiki h1 { font-size: 120%; }
div#roadmap .wiki h2 { font-size: 110%; }

div#version-summary { float:right; width:380px; margin-left: 16px; margin-bottom: 16px; background-color: #fff; }
div#version-summary fieldset { margin-bottom: 1em; }
div#version-summary .total-hours { text-align: right; }

table#time-report td.hours, table#time-report th.period, table#time-report th.total { text-align: right; padding-right: 0.5em; }
table#time-report tbody tr { font-style: italic; color: #777; }
table#time-report tbody tr.last-level { font-style: normal; color: #555; }
table#time-report tbody tr.total { font-style: normal; font-weight: bold; color: #555; background-color:#EEEEEE; }
table#time-report .hours-dec { font-size: 0.9em; }

ul.properties {padding:0; font-size: 0.9em; color: #777;}
ul.properties li {list-style-type:none;}
ul.properties li span {font-style:italic;}

.total-hours { font-size: 110%; font-weight: bold; }
.total-hours span.hours-int { font-size: 120%; }

.autoscroll {overflow-x: auto; padding:1px; margin-bottom: 1.2em;}
#user_firstname, #user_lastname, #user_mail,#user_login, #my_account_form select { width: 200px; }
#send_information {margin-left:40px;}
.pagination {font-size: 90%}
p.pagination {margin-top:8px;}

/***** Tabular forms ******/
.tabular p{
margin: 0;
padding: 10px 0 10px 10px;
padding-left: 40px; /*width of left column containing the label elements*/
height: 1%;
clear:left;
}
.tabular .specs {padding-left:175px;}

html>body .tabular p {overflow:hidden;}

.tabular label{
font-weight: bold;
float: left;
text-align: left;

width: 175px; /*width of labels. Should be smaller than left column to create some right 
margin*/
}

.tabular label.floating{
font-weight: normal;
margin-left: 0px;
text-align: left;
width: 270px;
margin-left:20px;margin-bottom:10px;margin-top:10px;
}

input#time_entry_comments { width: 90%;}

#preview fieldset {margin-top: 1em; background: url(../images/draft.png)}

.tabular.settings p{ padding-left: 300px; }
.tabular.settings label{ margin-left: -300px; width: 295px; }

.required {color: #bb0000;}
.summary {font-style: italic;}

#attachments_fields input[type=text] {margin-left: 8px; }

div.attachments { margin-top: 12px; }
div.attachments p { margin:4px 0 2px 0; }
div.attachments img { vertical-align: middle; }
div.attachments span.author { font-size: 0.9em; color: #888; }

p.other-formats { text-align: right; font-size:0.9em; color: #666; }
.other-formats span + span:before { content: "| "; }

a.feed { background: url(../images/feed.png) no-repeat 1px 50%; padding: 2px 0px 3px 16px; }

/***** Flash & error messages ****/


div.flash {margin-top: 8px;padding:5px;}

div.flash.error, #errorExplanation {
    background: url(../images/error.png) 8px 5px repeat-x;color:#fff;font-weight:bold;text-align:center
}

div.flash.notice {
    background: url(../images/notice.png)repeat-x;
    color: #005f00;
}
div.flash {color:#fff;font-weight:bold;text-align:center;}

div.flash.warning {
  background: url(../images/warning.png) 8px 5px repeat-x;
}

.nodata, .warning {
    text-align: center;
	background-color: #FFEBC1;
	border-color: #FDBF3B;
	color: #A6750C;
}

#errorExplanation ul { font-size: 0.9em;}

/***** Ajax indicator ******/
#ajax-indicator {
position: absolute; /* fixed not supported by IE */
background-color:#eee;
border: 1px solid #bbb;
top:35%;
left:40%;
width:20%;
font-weight:bold;
text-align:center;
padding:0.6em;
z-index:100;
filter:alpha(opacity=50);
opacity: 0.5;
}

html>body #ajax-indicator { position: fixed; }

#ajax-indicator span {
background-position: 0% 40%;
background-repeat: no-repeat;
background-image: url(../images/loading.gif);
padding-left: 26px;
vertical-align: bottom;
}

/***** Calendar *****/
table.cal {border-collapse: collapse; width: 98%;border: 1px solid #d7d7d7;margin:0 10px 10px 10px;}
table.cal thead th {width: 14%;}
table.cal tbody tr {height: 100px;}
table.cal th { background-color:#EEEEEE; padding: 4px; }
table.cal td {border: 1px solid #d7d7d7; vertical-align: top; font-size: 0.9em;}
table.cal td p.day-num {font-size: 1.1em; text-align:right;}
table.cal td.odd p.day-num {color: #bbb;}
table.cal td.today {background:#ffffdd;}
table.cal td.today p.day-num {font-weight: bold;}

/***** Tooltips ******/
.tooltip{position:relative;z-index:24;}
.tooltip:hover{z-index:25;color:#000;}
.tooltip span.tip{display: none; text-align:left;}

div.tooltip:hover span.tip{
display:block;
position:absolute;
top:12px; left:24px; width:270px;
border:1px solid #555;
background-color:#fff;
padding: 4px;
font-size: 0.8em;
color:#505050;
}

#tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid #D9DAD5;
	background-color: #453C31;
        font-size:10px;
        color:white;
	padding: 5px;
	opacity: 0.95;-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
#tooltip h3, #tooltip div { margin: 0;font-size:10px;font-weight:bold }

/***** Progress bar *****/
table.progress {
    border: 1px solid #333333;
   
    border-spacing: 0pt;
    empty-cells: show;
    text-align: center;

    margin: 1px 6px 1px 0px;
}
table.progress tr {border:1px solid black;}
table.progress td { height: 0.9em; }
table.progress td.closed { background: #6AC500 none repeat scroll 0%; }
table.progress td.done { background:#fff; }
table.progress td.open { background: #FFF none repeat scroll 0%; }
p.pourcent {font-size: 80%;}
p.progress-info {clear: left; font-style: italic; font-size: 80%;}

/***** Tabs *****/
#content_wrapper .tabs {height: 2.6em; position:relative;}
#content_wrapper .tabs ul {margin:0; position:absolute; bottom:-2px;}
#content_wrapper .tabs>ul { bottom:-1px; } /* others */

#content_wrapper .tabs ul li a {

  display: block;
  color: #777777;
  text-decoration: none;
  font-weight: bold;
  margin: 0;
 
  background: url(../images/inside_tabs.png) no-repeat 0 0;
}

#content_wrapper .tabs ul li a:hover{
 color:#009EEE;
  background: url(../images/inside_tabs.png) no-repeat 0 -17px;
}

#content_wrapper .tabs ul li a.selected {color:#009EEE;background: url(../images/inside_tabs.png) no-repeat 0 -17px;}


#content_wrapper .tabs ul li {
text-align:center;
float:left;
list-style-type:none;
white-space:nowrap;
margin-right:1px;
background:#fff;
border:none;
width:120px;
height:17px;
}
#content_wrapper .tabs ul li a {padding-top:2px;border:none;font-size:11px;height:15px;}
#tab-content-info,#tab-content-modules,#tab-content-versions,#tab-content-categories,#tab-content-categories,#tab-content-boards {border:1px solid #DDDDDD;}
.tab-content{padding:10px;}

#content_wrapper .tabs ul li a:hover {
background-color: #ffffdd;
text-decoration:none;
}


#content_wrapper .tabs ul li a.selected:hover {
background-color: #fff;
}

/***** Diff *****/
.diff_out { background: #fcc; }
.diff_in { background: #cfc; }

/***** Wiki *****/
div.wiki table {
    border: 1px solid #505050;
    border-collapse: collapse;
    margin-bottom: 1em;
}

div.wiki table, div.wiki td, div.wiki th {
    border: 1px solid #bbb;
    padding: 4px;
}

div.wiki .external {
    background-position: 0% 60%;
    background-repeat: no-repeat;
    padding-left: 12px;
    background-image: url(../images/external.png);
}

div.wiki a.new {
    color: #b73535;
}

div.wiki pre {
    margin: 1em 1em 1em 1.6em;
    padding: 2px;
    background-color: #fafafa;
    border: 1px solid #dadada;
    width:95%;
    overflow-x: auto;
}

div.wiki ul.toc {
    background-color: #ffffdd;
    border: 1px solid #e4e4e4;
    padding: 4px;
    line-height: 1.2em;
    margin-bottom: 12px;
    margin-right: 12px;
    margin-left: 0;
    display: table
}
* html div.wiki ul.toc { width: 50%; } /* IE6 doesn't autosize div */

div.wiki ul.toc.right { float: right; margin-left: 12px; margin-right: 0; width: auto; }
div.wiki ul.toc.left  { float: left; margin-right: 12px; margin-left: 0; width: auto; }
div.wiki ul.toc li { list-style-type:none;}
div.wiki ul.toc li.heading2 { margin-left: 6px; }
div.wiki ul.toc li.heading3 { margin-left: 12px; font-size: 0.8em; }

div.wiki ul.toc a {
    font-size: 0.9em;
    font-weight: normal;
    text-decoration: none;
    color: #606060;
}
div.wiki ul.toc a:hover { color: #c61a1a; text-decoration: underline;}

a.wiki-anchor { display: none; margin-left: 6px; text-decoration: none; }
a.wiki-anchor:hover { color: #aaa !important; text-decoration: none; }
h1:hover a.wiki-anchor, h2:hover a.wiki-anchor, h3:hover a.wiki-anchor { display: inline; color: #ddd; }

/***** My page layout *****/
.block-receiver {
border:1px dashed #c0c0c0;
margin-bottom: 20px;
padding: 15px 0 15px 0;
}

.mypage-box {
margin:0 0 20px 0;
color:#505050;
line-height:1.5em;
}

.handle {
cursor: move;
}

a.close-icon {
display:block;
margin-top:3px;
overflow:hidden;
width:12px;
height:12px;
background-repeat: no-repeat;
cursor:pointer;
background-image:url('../images/close.png');
}

a.close-icon:hover {
background-image:url('../images/close_hl.png');
}

/***** Gantt chart *****/
.gantt_hdr {
  position:absolute;
  top:0;
  height:16px;
  border-top: 1px solid #c0c0c0;
  border-bottom: 1px solid #c0c0c0;
  border-right: 1px solid #c0c0c0;
  text-align: center;
  overflow: hidden;
}

.task {
  position: absolute;
  height:8px;
  font-size:0.8em;
  color:#888;
  padding:0;
  margin:0;
  line-height:0.8em;
}

.task_late { background:#f66 url(../images/task_late.png); border: 1px solid #f66; }
.task_done { background:#66f url(../images/task_done.png); border: 1px solid #66f; }  
.task_todo { background:#aaa url(../images/task_todo.png); border: 1px solid #aaa; }
.milestone { background-image:url(../images/milestone.png); background-repeat: no-repeat; border: 0; }

/***** Icons *****/
.icon {
background-position: 0% 40%;
background-repeat: no-repeat;
padding-left: 20px;
padding-top: 2px;
padding-bottom: 3px;
}

.icon22 {
background-position: 0% 40%;
background-repeat: no-repeat;

line-height: 22px;
width:640px;
height:40px;
vertical-align: bottom;
padding-top:10px;
}
.bloc_admin {
    width:640px;
    height:20px;
    background:url(../images/bg_bloc_admin.png) repeat-x;    
    -moz-border-radius:10px;
}

.bloc_admin img {float:left;
margin-left:10px;
margin-top:-15px;}

.bloc_admin .links {padding-left:80px;}
.bloc_admin .links a {color:#333333;font-weight:bold;}

.icon-add { background-image: url(../images/add.png); }
.icon-edit { background-image: url(../images/edit.png); }
.icon-copy { background-image: url(../images/copy.png); }
.icon-del { background-image: url(../images/delete.png); }
.icon-move { background-image: url(../images/move.png); }
.icon-save { background-image: url(../images/save.png);margin-left:10px; }
.icon-cancel { background-image: url(../images/cancel.png); }
.icon-file { background-image: url(../images/file.png); }
.icon-folder { background-image: url(../images/folder.png); }
.open .icon-folder { background-image: url(../images/folder_open.png); }
.icon-package { background-image: url(../images/package.png); }
.icon-home { background-image: url(../images/home.png); }
.icon-user { background-image: url(../images/user.png); }
.icon-mypage { background-image: url(../images/user_page.png); }
.icon-admin { background-image: url(../images/admin.png); }
.icon-projects { background-image: url(../images/projects.png); }
.icon-help { background-image: url(../images/help.png); }
.icon-attachment  { background-image: url(../images/attachment.png); }
.icon-index  { background-image: url(../images/index.png); }
.icon-history  { background-image: url(../images/history.png); }
.icon-time  { background-image: url(../images/time.png); }
.icon-stats  { background-image: url(../images/stats.png); }

.icon-fav  { background-image: url(../images/fav.png); }
.icon-fav-off  { background-image: url(../images/fav_off.png); }
.icon-reload  { background-image: url(../images/reload.png); }
.icon-lock  { background-image: url(../images/locked.png); }
.icon-unlock  { background-image: url(../images/unlock.png); }
.icon-checked  { background-image: url(../images/true.png); }
.icon-details  { background-image: url(../images/zoom_in.png); }
.icon-report  { background-image: url(../images/report.png); }
.icon-comment  { background-image: url(../images/comment.png); }

.icon22-projects { background-image: url(../images/icone_projet.png); }
.icon22-users { background-image: url(../images/icone_utilisateur.png); }
.icon22-tracker { background-image: url(../images/icone_tracker.png); }
.icon22-role { background-image: url(../images/icone_roles.png); }
.icon22-workflow { background-image: url(../images/icone_workflow.png); }
.icon22-options { background-image: url(../images/icone_valeurs.png); }
.icon22-notifications { background-image: url(../images/22x22/notifications.png); }
.icon22-authent { background-image: url(../images/22x22/authent.png); }
.icon22-info { background-image: url(../images/icone_info.png); }
.icon22-comment { background-image: url(../images/22x22/comment.png); }
.icon22-package { background-image: url(../images/22x22/package.png); }
.icon22-settings { background-image: url(../images/icone_config.png); }
.icon22-plugin { background-image: url(../images/icone_plugins.png); }

img.gravatar { 
	padding: 2px;
  border: solid 1px #d5d5d5;
  background: #fff;
}

div.issue img.gravatar {
	float: right;
	margin: 0 0 0 1em;
	padding: 5px;
}

div.issue table img.gravatar {
	height: 14px;
	width: 14px;
	padding: 2px;
	float: left;
	margin: 0 0.5em 0 0;
}

#history img.gravatar {
	padding: 3px;
	margin: 0 1.5em 1em 0;
	float: left;
}

td.username img.gravatar {
	float: left;
	margin: 0 1em 0 0;
}

#activity dt img.gravatar {
	float: left;
	margin: 0 1em 1em 0;
}

#activity dt,
.journal {
	clear: left;
}

h2 img { vertical-align:middle; }


/***** Media print specific styles *****/
@media print {
  #top-menu, #header, #main-menu, #sidebar, #footer, .contextual, .other-formats { display:none; }
  #main { background: #fff; }
  #content { width: 99%; margin: 0; padding: 0; border: 0; background: #fff; overflow: visible !important;}
	#wiki_add_attachment { display:none; }
}
.issues .late {color:red;}

/*.projects_children_list{background:url(../images/pointilles_vertical.png) repeat-y 4px 30px;}*/
.projects_children_list li,.projects_children_list ul{margin-top:5px;margin-bottom:5px;}
.projects_list {/*background:url(../images/pointilles_vertical.png) repeat-y 24px 30px;*/max-height:200px;overflow:auto;padding-left:20px;}
.projects_list li {margin-top:5px;margin-bottom:5px;font-weight:bold;/*background:url(../images/pointilles_horizontal.png) repeat-x 5px 8px*/}
.projects_list a {margin-left:5px;color:#505050;}
.projects_list a.active {color:#009EEE;}
#result_query {margin-left:5px;margin-right:5px;width:98%;}

/* Filters box */
.box_filters {padding:10px;margin-top:2px;background: #f2f1f0 url(../images/bandeau_gris_5px.png) repeat-x bottom left;}
.box_filters .title_filter {float:left;color:#333333;font-weight:bold;text-transform:uppercase;}
.toggle {float:left;cursor:pointer;margin-left:10px;margin-top:7px;cursor:pointer;height:5px;width:6px;text-decoration: none; }
#effect { padding: 0.4em; position: relative; }
.toggler {margin-top:10px;}
.toggle.open {background:url(../images/fleches.png) no-repeat 0 -5px;}
.toggle.close {background:url(../images/fleches.png) no-repeat 0 0;}
.toggler_date {margin-left:15px;}
#effect_date {margin-top:10px;clear:both;}

.corner-all {-moz-border-radius:5px;}

/*Icons visualization*/
.calendar.inactive {background:url(/images/visu_calendar_off.png) no-repeat}
.calendar.active {background:url(/images/visu_calendar_on.png) no-repeat}
.gantt.inactive {background:url(/images/visu_gantt_off.png) no-repeat}
.gantt.active {background:url(/images/visu_gantt_on.png) no-repeat}
.list.inactive {background:url(/images/visu_list_off.png) no-repeat}
.list.active {background:url(/images/visu_list_on.png) no-repeat}
.profile.inactive {background:url(/images/visu_profile_off.png) no-repeat}
.profile.active {background:url(/images/visu_profile_on.png) no-repeat}

.content_admin {padding:5px;}

/* Members tabs*/
#tabs_members{border:none;background:transparent}

#tabs_members li.ui-state-active a{color:#009EEE;}
#tabs_members li.ui-state-active{padding:0;background: url(../images/inside_tabs.png) no-repeat 0 -17px;}

#tabs_members  li a {padding:0;font-size:11px;}
#tabs_members li:hover a { color:#009EEE;}
#tabs_members li:hover {background: url(../images/inside_tabs.png) no-repeat 0 -17px;}
#tabs_members  li {
text-align:center;
float:right;
list-style-type:none;
white-space:nowrap;
margin-right:1px;
background: transparent url(../images/inside_tabs.png) no-repeat scroll 0 0;
border:none;
width:120px;
height:17px;

}
/* Thumbnails */
.thumbnail_infos a {text-decoration:none;color:#009EEE;font-weight:bold;}
.thumbnail {padding:5px;-moz-border-radius:5px;list-style:none;background:transparent url(/images/bg_thumbnail.png) repeat-x;height:35px;min-width:140px;border:1px solid #DDDDDD;float:left;margin:5px 5px 0 0;}
.thumbnail:hover {border:1px solid #009EEE;}
.user_thumbnail .name a {text-decoration:none;font-weight:bold;color:#009EEE;}
.thumbnail_infos {padding-left:5px;}
.file_thumbnail .filename {color:#009EEE;font-weight:bold;}

/* Blocks*/
.box_header .icon {height:16px;width:16px;margin-right:5px;}
.box_title {font-size:12px;padding-top:2px;float:left}
.box_links {padding:3px;float:right;}
.box_links a {font-size:10px;}
.box_links a:hover {color:#009EEE;}
.grey_box {margin:0 0 10px;background:#EEEEEE;-moz-border-radius:5px;padding:10px;border:1px solid #DDDDDD;}
.grey_title {margin-bottom:5px;text-transform:uppercase;color:#444444;font-size:11px;font-weight:bold;}

/* Buttons */
.buttons input {border:none;}
.buttons .button {cursor:pointer;text-decoration:none;color:#fff;font-weight:bold;text-transform:uppercase;}
.buttons .btn_blue {height:20px;padding:2px 5px 2px 5px;background:url(/images/bg_blue.png) repeat-x}
.buttons .btn_orange {height:20px;padding:2px 5px 2px 5px;background:url(/images/bg_orange.png) repeat-x}
.buttons a.btn_orange{padding-top:3px;padding-bottom:3px;vertical-align:middle;}
.btn_blue:hover {height:20px;padding:2px 5px 2px 5px;background:url(/images/bg_blue_hover.png) repeat-x}
.buttons .btn_orange:hover {height:20px;padding:2px 5px 2px 5px;background:url(/images/bg_orange_hover.png) repeat-x}
.buttons {margin-top:20px;}



#tabs {margin-bottom:20px;}

/*Notifications*/
.no-data {padding:10px;}
#tabs_members li a {font-weight:bold;}
#projects_members .thumbnail,#projects_partners .thumbnail{float:right;}
/*Widget*/
#list-bottom {width:100%;}
#list-bottom td {width:32%;}
#list-bottom td {vertical-align:top;}

/*Widget membres*/
.identity .name a{color:#009EEE;font-weight:bold;}

/* Search*/
#input-search {border:1px solid #DDDDDD;}

/*Profile*/
.profile {color:#fff;background:#382D24;-moz-border-radius:5px;margin-bottom:10px;}
.profile_header {padding:5px 0 5px 5px;border-bottom:1px solid black;color:#9E836F;font-weight:bold;font-size:14px;}
.profile_content{margin:5px;padding:5px;}
.profilecontentleft {margin:5px;float:left;width:40%;}
.profilecontentright {float:right;width:57%;margin:5px;}
.profilecontentleft .progress, .profilecontentleft .pourcent {float:right;}

/*Toolbar */
.jstElements {
    background:transparent url(../images/bandeau_gris_5px.png) repeat-x;
    border-top:1px solid black;
    border-right:1px solid black;
    border-left:1px solid black;
    width:98%;
}
.jstEditor textarea, .jstEditor iframe {
        border-bottom:1px solid black;
        border-right:1px solid black;
        border-left:1px solid black;
        border-top:none;
        width:98%;        
}

.jstElements .help {font-weight:bold}
.jstElements .help a {color:#009EEE;text-decoration:underline;}

/*Fieldset*/
.fieldset {
    padding-top:10px;
    background:#F2F1F0 url(../images/bandeau_gris_5px.png) repeat-x left bottom;
    margin-top:3px;
}
.fieldset_title {
    color:#333333;
    font-weight:bold;
    text-transform:uppercase;
    padding-left:10px;
}

.visu {margin-right:15px;text-transform:none;}


/*Photos*/
#photo_index {margin-top:10px;}
#photo_index img {margin:5px;}


#editmodfunding_fields_list,#alertmod,#delmodfunding_fields_list,#srchmodfunding_fields_list {position:absolute;width:auto;}
#tab-content-funding .ui-jqgrid .loading{z-index:940;}
#gview_funding_fields_list .ui-jqgrid tr.jqgrow td{border:1px solid #DDDDDD;}
#gview_funding_fields_list .ui-th-column{background:#EEEEEE;border-right:2px solid #DDDDDD;border-bottom:none;}
#pg_pager {background:url(../images/bg_bloc_admin.png) repeat-x}

/* Show issue */
.show_issue .wiki,.show_issue .user,#history .journal {padding:0 5px 0 5px;}

.links_edit_box {display:none;float:right}

#update-tags-form ul.holder{width:95%;}



.emptymessage {
-moz-border-radius-bottomleft:5px;
-moz-border-radius-bottomright:5px;
-moz-border-radius-topleft:5px;
-moz-border-radius-topright:5px;
background:#F0F0F0 none repeat scroll 0 0;
border:2px solid #E7E7E7;
color:#666666;
font-size:11px;
margin:2px 20px;
padding:4px;
text-align:center;
}

#watcher_user_id,#relation_relation_type{margin-left:10px;}
#files_index ul {margin-left:10px;}