<%= box(
    "#{l(:label_spent_time)}",
    "#{render:partial=>'timelog/box/details'}",
    ["#{link_to_if_authorized l(:button_log_time), {:controller => 'timelog', :action => 'edit', :project_id => @project, :issue_id => @issue}, :class => 'icon icon-time'}"]
) %>
