<% remote_form_for :file_attachment, :html=>{:id=>"upload_form_#{@file.id}"} do |f| %>
  <span id="attachments_fields">
  <%= file_field_tag 'attachments[1][file]', :size => 30, :id => nil  -%><br/>
  <%= l(:label_optional_description) %><%= text_field_tag 'attachments[1][description]', '', :size => 60, :id => nil %>
  <%= l(:label_optional_description) %>
  </span>

  <div class="buttons">
    <%= submit_tag l(:button_add),:class=>"button btn_blue corner-all" %>
  </div>
<% end %>