<div id="fichiers">
    <% if containers and containers.size>0  %>
      <ul class="files">
        <% containers.each do |container| %>
          <% next if container.file_attachments.empty? -%>
          <% container.file_attachments.each do |file| %>
            <%= file_thumbnail(file) %>
            <%  reset_cycle %>
          <% end %>
      <% end %>
      </ul>
   <% end %>
   <div class="clearer"></div>
  </div>