<%= box(
    "#{l(:label_project_new)}",
    "#{render:partial=>'projects/box/add'}") %>
     <p class="buttons right">
   <%=  submit_tag l(:button_save),:class => 'button btn_blue corner-all' %>
</p>
 <div class="clearer"></div>