<table id="funding_fields_list"></table>
<div id="pager"></div>

<%= javascript_tag("initialize_funding_grid('/projects/show_funding/#{@project.identifier}','/projects/#{@project.identifier}/funding_lines/new');") %>