<div id="relations">
  <%= render :partial=>"project_relations/index" %>
</div>

<% remote_form_for [@project ,@relation],:html=>{:style=>"display:none",:id=>"new-relation-form"}do |f| %>
   <%= render :partial => 'project_relations/form', :locals => {:f => f}%>
<% end %>
