

<div id="projects_menu">
  <%= render :partial=>"projects/projects_menu" %>
</div>

<% if current_community %>
<div id="sidebar_new">
  <%= render:partial=>"projects/sidebar_new" %>
</div>
<% end %>

<% if @projects.size>0 %>
  <div id="project_author">
    <%= render:partial=>"projects/author",:locals=>{:project=>@project} %>
  </div>
<% end %>



