<%= box(
    "#{@author.nil? ? l(:label_activity) : l(:label_user_activity, link_to_user(@author))} #{l(:label_date_from)} #{format_date(@date_to - @days)} #{l(:label_date_to).downcase} #{format_date(@date_to-1)}",
    "#{render:partial=>'projects/box/activity'}"
) %>



