<%= box(
    "#{l(:label_issue_category_new)}",
    "#{render:partial=>'projects/box/add_issue_category'}") %>
<div class="buttons right">
  <%= submit_tag l(:button_create),:class=>"button btn_blue corner-all" %>
</div>
