



<% if @project %>
  <%= render:partial=>"show", :locals=>{:project=>@project} %>
<% else %>
  Aucun projet à visualiser.
<% end %>
<% content_for :sidebar do %>
    <%= render :partial => 'projects/sidebar' %>
<% end %>