<%= box(
    "#{l(:label_issue_status)}",
    "#{render:partial=>'issue_statuses/box/edit'}"
) %>
<div class="buttons right">
     <%= submit_tag l(:button_save),:class=>"button btn_blue corner-all" %>
</div>
<div class="clearer"></div>

