<% labelled_tabular_form_for :role, @role, :url => { :action => 'edit' }, :html => {:id => 'role_form'} do |f| %>
<%= render :partial => 'form', :locals => { :f => f } %>
<div class="buttons right">
  <%= submit_tag l(:button_save),:class=>"btn_blue button corner-all" %>
</div>
<% end %>
