
  <h2>Frequently Asked Questions</h2>



<div class="index_faq">

  <ul class="liste_index_faq">

    <li class="lien_faq"><a href="#lien1">Comment faire pour créer un projet?</a></li>
    <li class="lien_faq"><a href="#lien2">Comment faire pour créer un sous-projet?</a></li>
    <li class="lien_faq"><a href="#lien3">Pourquoi ne puis-je pas créer de tâche, jalon ou phase?</a></li>
    <li class="lien_faq"><a href="#lien4">Pourquoi ne puis-je pas rattacher à un projet un secteur d'activité que je viens de créer?</a></li>
    <li class="lien_faq"><a href="#lien5">Comment faire pour gérer les utilisateurs et leurs rôles et permissions?</a></li>
    <li class="lien_faq"><a href="#lien6">A quoi correspondent les liens entre projets</a></li>
    <li class="lien_faq"><a href="#lien7">Qu'est ce que le "label réciproque" dans les relations entre projets?</a></li>
    <li class="lien_faq"><a href="#lien8">Comment faire pour ajouter des membres à un projet?</a></li>
    <li class="lien_faq"><a href="#lien9">A quoi correspondent et comment gérer les champs personnalisés?</a></li>
   
  </ul>
  
</div>

<br />
<br />
<br />

<div id="lien1" class="reponse_faq">
  <div class="en_tete_faq">
    <div class="float_left"><b>Comment faire pour créer un projet?</b></div><div class="float_right"><a href="#top">Haut de page</a></div>
  </div>
  <div class="clearer"></div>
  <div class="contenu_faq">
    <p>
      <br />En premier lieu vous devez être identifié pour accéder à l'onglet "Projet" dans le menu, cliquez dessus.
Vous accédez donc à la visualisation des projets, dans le 2ème menu à gauche (menu intitulé "Nouveau") cliquez sur "Projet"
Vous arrivez sur un formulaire, remplissez tous les champs que vous souhaitez renseigner.<br /><br />
      
      <img src="../images/faq/panneau.png" />&nbsp;&nbsp;<b><u>Attention!</u></b><br /><br />
      
      <b>Les champs "Nom", "Acronyme" et "identifiant" doivent être obligatoirement renseigné</b><br /><br />
     
      Si vous désirez rattacher un secteur d'activité au projet,  il faut que celui-ci ait préalablement été créé.<br /><br />

Pour créer un secteur d'activité vous devez disposer des droits d'administrateur.<br />
Allez dans la partie "admin". cliquez sur la section "secteurs d'activité"<br />
ensuite cliquez sur "ajouter un secteur d'activité", renseignez les différents champs demandés et validez.<br /><br />

Vous pouvez désormais rattacher des projets à ce secteur d'activité.<br /><br />

Choisissez ensuite les modules que vous souhaitez voir dans votre projet et validez la création.<br />

  </div>
</div>

<div id="lien2" class="reponse_faq">
  <div class="en_tete_faq">
    <div class="float_left"><b>Comment faire pour créer un sous-projet?</b></div><div class="float_right"><a href="#top">Haut de page</a></div>
  </div>
  <div class="clearer"></div>
  <div class="contenu_faq">
    <br />Il vous suffit de répéter l'opération de création de projet spécifiée ci-dessus, mais cette fois-ci spécifiez un "parent" lors de la création :<br /><br />

    <img src="../images/faq/ssproject.jpg" alt="Séléction du projet parent" /><br /><br />

    ainsi, votre projet sera considéré comme un sous-projet du projet parent que vous venez de spécifier.<br /><br />

Validez la création de projet, vous obtiendrez désormais une arborescence de projet dans le menu de gauche ressemblant à ceci :<br /><br />

    <img src="../images/faq/arbo.jpg" alt="Arborescence projet, ss-projet" /><br /><br />

  </div>
</div>

<div id="lien3" class="reponse_faq">
  <div class="en_tete_faq">
    <div class="float_left"><b>Pourquoi ne puis-je pas créer de Tâche, jalon ou phase?</b></div><div class="float_right"><a href="#top">Haut de page</a></div>
  </div>
  <div class="clearer"></div>
  <div class="contenu_faq">
    <br />Avant de créer quoi que ce soit dans le projet (phase, jalon, tâche) vous devez avoir un "tracker" associé à votre projet. Le « tracker » est un type de tâche que vous pouvez spécifier. Dans le cas d’un projet industriel, le tracker pourra être « Conception », « Réalisation », « Essais », …. Dans le cas d’un projet de développement logiciel, le tracker pourra être « fonctionnalité », « bug », « support », …
<br /><br />
Tout d'abord vous devez disposer des droits d'administrateur.<br />
Allez dans  administrateur en cliquant sur l'onglet "admin", cliquez ensuite sur la section "Trackers".<br />
Si la liste de Tracker est vide vous devez réaliser l'opération suivante :<br />

Afin d'ajouter un tracker, vous devez disposer des droits d'administrateur. Dans la section "Trackers"<br />
cliquez sur "Nouveau Tracker" en haut à droite, renseignez les différents champs et validez la création.<br />

Ensuite vous devez associer le tracker que vous venez de créer au projet concerné, pour cela :<br /><br />

Retournez dans la partie "Admin" et cliquez sur la section "Projets", puis, cliquez sur le projet concerné.<br />
Vous arrivez sur la page récapitulative du projet, tout en bas de la page dans l'onglet "Informations", cochez
le tracker que vous venez de créer et sauvegardez.<br /><br />

Dans le cas où vous auriez déjà des trackers de créés et que vous souhaitez utiliser l'un d'eux, répétez seulement
la dernière opération en cochant le tracker souhaité et sauvegardez.<br /><br />

    <img src="../images/faq/tracker.jpg" alt="séléction d'un tracker" /><br /><br />

    Pour pouvoir créer des tâches, jalons et phase vous devez aussi avoir un statut de projet associé à ce dernier.<br /><br />

Vous devez disposer des droits d'administrateur pour réaliser les opérations suivantes :<br />

Allez dans la partie "Admin", cliquez sur la section "Statut de projet", 2 solutions s'offrent à vous :<br />

- La liste est vide, dans ce cas cliquez sur "Nouveau statut de projet", renseignez le nom du statut et cochez ou non<br />
la case "valeur par défaut", cliquez ensuite sur "Créer". Ensuite, retournez dans la partie "Admin"
facebook chinoispuis cliquez sur la section "Projet", séléctionnez le projet concerné<br /><br />

- La liste contient déjà des statuts de projet, vous pouvez soit utiliser ceux déjà présent ou en créer un nouveau.<br /><br />

Enfin, retournez dans la partie "Admin", cliquez sur "Projet" et cliquez sur le projet concerné. En bas de l'onglet
"Informations" Séléctionnez un statut et sauvegardez.<br /><br />

Essayez de créer une phase ou une tâche ou un jalon. Si vous n'y arrivez toujours pas, retournez dans la partie "Admin"
cliquez sur la section "Liste de valeurs". Regardez dans la partie "Priorités des demandes" en bas de la page,
si la liste est vide cliquez sur "Nouvelle priorité", renseignez le nom et cochez la case "Valeur par défaut".<br /><br />

    <img src="../images/faq/listevaleur.jpg" alt="menu liste de valeurs" /><br /><br />
    <img src="../images/faq/ajoutlistevaleur.jpg" alt="formulaire d'ajout de liste de valeurs" /><br /><br />

En réalisant toutes les opérations ci-dessus vous ne devriez plus avoir de problème pour l'ajout de phases, jalons
ou tâches.<br /><br />

  </div>
</div>

<div id="lien4" class="reponse_faq">
  <div class="en_tete_faq">
    <div class="float_left"><b>Pourquoi ne puis-je pas rattacher à un projet un secteur d'activité que je viens de créer?</b></div><div class="float_right"><a href="#top">Haut de page</a></div>
  </div>
  <div class="clearer"></div>
  <div class="contenu_faq">
    <br />
Anglaise n'étant pas encore disponible nous vous conseillons de toujours configurer et utiliser la langue Française
dans Kosmopolead Project.<br /><br />

Lors de l'ajout d'un secteur d'activité, le choix de la langue est primordial, donc pensez bien à sélectionner la langue souhaitée
dans la liste déroulante comme indiqué ci-dessous :<br /><br />

    <img src="../images/faq/secteuractivite.jpg" alt="ajout d'un secteur d'activité" width="900px" /><br /><br />
<br />
    Une fois la langue choisie, vous pouvez cliquer sur le signe "Ajouter en haut à droite (petit plus vert) renseignez le
nom du nouveau secteur d'activité et validez la création.<br /><br />


  </div>
</div>

<div id="lien5" class="reponse_faq">
  <div class="en_tete_faq">
    <div class="float_left"><b>Comment faire pour gérer les utilisateurs et leurs rôles et permissions?</b></div><div class="float_right"><a href="#top">Haut de page</a></div>
  </div>
  <div class="clearer"></div>
  <div class="contenu_faq">
    <br />Tout d'abord, pour gérer les utilisateurs ainsi que leurs rôles et permissions vous devez disposer des droits
d'administration.<br /><br />

Allez dans la partie "Admin" et cliquez sur "Utilisateurs". Sur cet écran sont listés tous les utilisateurs de votre environnement
vous pouvez modifier leurs informations, leur statut : "membre ou administrateur", verrouiller leur accès, et vous pouvez
ajouter de nouveaux utilisateurs en cliquant simplement sur "Nouvel utilisateur".<br /><br />

    <img src="../images/faq/utilisateur.jpg" alt="gérer les utilisateurs" width="900px" /><br /><br />

    <img src="../images/faq/panneau.png" />&nbsp;&nbsp;<b>Attention!<br /><br />

    our ajouter un nouvel utilisateur vous devez obligatoirement renseigner les champs :<br />
    <br />
    - Identifiant<br />
    - Prénom<br />
    - Nom<br />
    - E-mail (la validité de l'e-mail et l'unicité sont vérifiées)<br /><br /></b>

    Concernant les rôles et permissions des utilisateurs, retournez dans la partie administration de Kosmopolead Projects
cliquez sur la section "Rôles et permissions", vous arrivez sur cet écran : <br /><br />

    <img src="../images/faq/roles.jpg" alt="gérer rôles et permissions" width="900px"/><br /><br />

    Dans cette section vous pouvez créer des rôles spécifiques en cliquant sur "Nouveau Rôle" et ainsi lui attribuer
des permissions en cochant celles souhaitées.<br /><br />

Vous pouvez aussi modifier les rôles déjà existant en cliquant sur leur noms, vous accéderez ainsi à la liste de leurs
permissions et en cochant ou décochant certaines changer le comportement du rôle.<br /><br />

Pour finir vous pouvez attribuer les rôles à un utilisateur pour un projet dans la partie "Administration de Kosmopolead Projects.<br />
Cliquez sur la section "Utilisateurs", sélectionnez l'utilisateur concerné, allez ensuite dans l'onglet "Projet".<br />
Dans cette partie vous pouvez choisir le projet et le rôle à affecter à cet utilisateur.<br /><br />

  </div>
</div>

<div id="lien6" class="reponse_faq">
  <div class="en_tete_faq">
    <div class="float_left"><b>A quoi correspondent les liens entre projets?</b></div><div class="float_right"><a href="#top">Haut de page</a></div>
  </div>
  <div class="clearer"></div>
  <div class="contenu_faq">
Plusieurs types de liaisons peuvent exister entre les projets :<br /><br />

Précède :<br />
La tâche A précède la Tâche B de X jours.<br />
La tâche A doit être achevée X jours avant que la tâche B puisse démarrer<br />
Le décalage de la tâche A entraine le décalage de la tâche B<br />
 la fin anticipée de la tâche A n’entraine pas l’anticipation de la tâche B<br /><br />

Lié à :<br />
La tâche A est simplement liée à la Tâche B.<br />
Il s’agit d’un lien non contraignant pour les tâches concernées<br />
Duplique :<br />
Lie les tâches dans leur réalisation.<br />
La fermeture d’une tâche entraine la fermeture de la tâche liée<br />
Bloque :<br /><br />

La tâche A doit être achevée avant de travailler à la tâche B<br />
  </div>
</div>

<div id="lien7" class="reponse_faq">
  <div class="en_tete_faq">
    <div class="float_left"><b>Qu'est ce que le "label réciproque" dans les relations entre projets?</b></div><div class="float_right"><a href="#top">Haut de page</a></div>
  </div>
  <div class="clearer"></div>
  <div class="contenu_faq">
    <br />Lorsque vous êtes sur cet écran :<br /><br />

    <img src="../images/faq/relation.jpg" alt="Ecran relations entre les projets" width="900px" /><br /><br />

   Le label et le label réciproque correspondent au principe :<br /><br />

- a remplace b<br />
- b est remplacé par a<br /><br />

ce qui veut dire au niveau des projet que le projet peut être remplacé par un autre.<br />
  </div>
</div>

<div id="lien8" class="reponse_faq">
  <div class="en_tete_faq">
    <div class="float_left"><b>Comment faire pour ajouter des membres à un projet?</b></div><div class="float_right"><a href="#top">Haut de page</a></div>
  </div>
  <div class="clearer"></div>
  <div class="contenu_faq">
    <br />Pour ajouter un ou des membres à un projet il vous suffit d'aller dans la partie "Projet". une fois sur cet écran :<br /><br />

    <img src="../images/faq/projet.jpg" alt="Ecran d'accueil d'un projet" width="900px" /><br /><br />

    Vous voyez à droite de l'écran une section ajouter un membre :<br /><br />

    <img src="../images/faq/ajoutmembre.jpg" alt="Ecran d'ajout de membre à un projet" /><br /><br />

    cliquez sur le petit plus vert, à ce moment un menu s'ouvre et vous pouvez y sélectionner un partenaire ainsi qu’un contact de votre choix et lui attribuer
un rôle. Validez ensuite la saisie et vous pouvez soit continuer ou arrêter l'ajout de partenaires et de rôles.<br /><br />

    <img src="../images/faq/panneau.png" />&nbsp;&nbsp;<b>Attention!</b><br /><br />

Pour affecter un utilisateur à un Projet vous devez obligatoirement avoir créé au moins un rôle avant.  </div>
</div>

<div id="lien9" class="reponse_faq">
  <div class="en_tete_faq">
    <div class="float_left"><b>A quoi correspondent et comment gérer les champs personnalisés?</b></div><div class="float_right"><a href="#top">Haut de page</a></div>
  </div>
  <div class="clearer"></div>
  <div class="contenu_faq">
    <br />Tout d'abord vous devez disposer des droits d'administration pour pouvoir gérer les champs personnalisés.<br /><br />

Allez dans la partie "Admin", ensuite cliquez sur la section "Champs personnalisés".<br />
Vous disposez de 4 onglets intitulés "Evénements, temps passé, Projets, et Utilisateurs", prenons "Projets" par
exemple :<br /><br />

    <img src="../images/faq/champperso.jpg" alt="Ecran d'ajout de champs personnalisés" width="900px" /><br /><br />

   Sur l'écran ci-dessus vous pouvez voir que l'on peut gérer les champs déjà créés et en ajouter. si vous souhaitez
créer un nouveau champs personnalisé, cliquez sur "Nouveau Champ personnalisé"<br /><br />

Grâce à ces champs personnalisés vous pouvez ajouter des informations
de projet ou d'utilisateur, que vous pourrez gérer directement dans la page d'accueil de Kosmopolead projectsspécifiques à vos projets.<br /><br />
  </div>
</div>