
  <h2>Frequently Asked Questions</h2>



<div class="index_faq">

  <ul class="liste_index_faq">

    <li class="lien_faq"><a href="#lien1">Comment faire pour créer un projet?</a></li>
    <li class="lien_faq"><a href="#lien2">Comment faire pour créer un sous-projet?</a></li>
    <li class="lien_faq"><a href="#lien3">Pourquoi ne puis-je pas créer de tâche, jalon ou phase?</a></li>
    <li class="lien_faq"><a href="#lien4">Pourquoi ne puis-je pas rattacher à un projet un secteur d'activité que je viens de créer?</a></li>
    <li class="lien_faq"><a href="#lien5">Comment faire pour gérer les utilisateurs et leurs rôles et permissions?</a></li>
    <li class="lien_faq"><a href="#lien6">Qu'est ce que le "label réciproque" dans les relations entre projets?</a></li>
    <li class="lien_faq"><a href="#lien7">Comment faire pour ajouter des membres à un projet?</a></li>
    <li class="lien_faq"><a href="#lien8">A quoi correspondent et comment gérer les champs personnalisés?</a></li>
    <%#*<li class="lien_faq"><a href="#lien9">Essai de question N°9</a></li>%>
    <%#*<li class="lien_faq"><a href="#lien10">Essai de question N°10</a></li>%>
    <%#*<li class="lien_faq"><a href="#lien11">Essai de question N°11</a></li>%>
   
  </ul>
  
</div>

<br />
<br />
<br />

<div id="lien1" class="reponse_faq">
  <div class="en_tete_faq">
    <div class="float_left"><b>Comment faire pour créer un projet?</b></div><div class="float_right"><a href="#top">Haut de page</a></div>
  </div>
  <div class="clearer"></div>
  <div class="contenu_faq">
    <p>
      <br />En premier lieu vous devez être identifié pour accéder à l'onglet "Projet" dans le menu,
      cliquez dessus.<br />
      Vous accédez donc à la visualisation des projets, dans le 2ème menu a gauche (menu intitulé "Nouveau") cliquez sur "Projet"<br />
      Vous arrivez sur un formulaire, remplissez tous les champs que vous souhaitez renseigner.<br /><br />
      
      <img src="../images/faq/panneau.png" />&nbsp;&nbsp;<b><u>Attention!</u></b><br /><br />
      
      <b>Les champs "Nom", "Acronym" et "identifiant" doivent être obligatoirement renseigné</b><br /><br />
     
      Si vous désirez rattacher un secteur d'activité au projet, faites bien attention de d'en avoir déjà créé
      avant de commencer la création du projet.<br /><br />
      
      Pour ajouter un secteur d'activité vous devez disposer des droits d'administrateur. Allez dans la partie "admin"
      Dans le premier menu cliquez sur "secteurs d'activité"<br /> ensuite cliquez sur "ajouter un secteur d'activité", renseignez les différents
      champs demandés et validez.<br /><br />

      Vous pouvez désormais rattacher un ou des projets à ce secteur d'activité.<br /><br />

      Choisissez ensuite les modules que vous souhaitez voir dans votre projet et validez la création.

  </div>
</div>

<div id="lien2" class="reponse_faq">
  <div class="en_tete_faq">
    <div class="float_left"><b>Comment faire pour créer un sous-projet?</b></div><div class="float_right"><a href="#top">Haut de page</a></div>
  </div>
  <div class="clearer"></div>
  <div class="contenu_faq">
    <br />Il vous suffit de répéter l'opération de création de projet spécifiée ci-dessus, mais cette fois-ci
    spécifiez un "parent" lors de la création :<br /><br />

    <img src="../images/faq/ssproject.jpg" alt="Séléction du projet parent" /><br /><br />

    ainsi, votre projet sera considéré comme un sous-projet du projet parent que vous venez de spécifier.<br /><br />

    Validez la création de projet, vous obtiendrez désormais une arborescence de projet dans le menu de gauche
    ressemblant à ceci :<br /><br />

    <img src="../images/faq/arbo.jpg" alt="Arborescence projet, ss-projet" /><br /><br />

  </div>
</div>

<div id="lien3" class="reponse_faq">
  <div class="en_tete_faq">
    <div class="float_left"><b>Pourquoi ne puis-je pas créer de Tâche, jalon ou phase?</b></div><div class="float_right"><a href="#top">Haut de page</a></div>
  </div>
  <div class="clearer"></div>
  <div class="contenu_faq">
    <br />Avant de créer quoi que ce soit sur le projet (phase, jalon, tâche) vous devez avoir un "tracker" associé
    à votre projet.<br /><br />

    Tout d'abord vous devez disposer des droits d'administrateur. Allez dans la section<br />
    administrateur en cliquant sur l'onglet "admin", cliquez ensuite sur "Trackers" dans le 4ème menu.<br />
    Si la liste de Tracker est vide vous devez réaliser l'opération suivante :<br /><br />

    Afin d'ajouter un tracker, vous devez disposer des droits d'administrateur. Dans la section "Trackers"<br />
    cliquez sur "Nouveau Tracker" en haut à droite, renseignez les différents champs
    et validez la création.<br /><br />

    Ensuite vous devez associer le tracker que vous venez de créer au projet concerné, pour cela :<br /><br />

    Retournez dans la partie "Admin" et cliquez sur "Projets" dans le premier menu, là, cliquez sur le projet concerné.<br />
    Vous arrivez sur la page récapitulative du projet, tout en bas de la page dans l'onglet "Informations", cochez<br />
    le tracker que vous venez de créer et sauvegardez.<br /><br />

    Dans le cas où vous auriez déjà des trackers de créés et que vous souhaitez utiliser l'un d'eux, répétez seulement<br />
    la dernière opération en cochant le tracker souhaité et sauvegardez.<br /><br />

    <img src="../images/faq/tracker.jpg" alt="séléction d'un tracker" /><br /><br />

    Pour pouvoir créer des tâches, jalons et phase vous devez aussi avoir un status de projet associé à ce dernier.<br /><br />

    Vous devez disposer des droits d'administrateur pour réaliser les opérations suivantes :<br /><br />

    Allez dans la partie "Admin", cliquez sur "Status de projet" dans le premier menu, 2 solutions s'offrent à vous :<br /><br />

    - La liste est vide, dans ce cas cliquez sur "Nouveau statut de projet", renseignez le nom du status et cochez ou non<br />
    la case "valeur par défaut", cliquez ensuite sur "Créer". Ensuite, retournez dans la partie "Admin"<br />
    puis cliquez sur "Projet" dans le premier menu, séléctionnez le projet concerné<br /><br />

    - La liste contient déjà des status de projet, vous pouvez soit utiliser ceux déjà présent ou en créer un nouveau.<br /><br />

    Enfin, retournez dans la partie "Admin", cliquez sur "Projet" et cliquez sur le projet concerné. En bas de l'onglet<br />
    "Informations" Séléctionnez un status et sauvegardez.<br /><br />

    Essayez de créer une phase ou une tâche ou un jalon. Si vous n'y arrivez toujours pas, retournez dans la partie "Admin"<br />
    cliquez sur "Liste de valeurs" dans le 6ème menu. Regardez dans la partie "Priorités des demandes" en bas de la page,<br />
    si la liste est vide cliquez sur "Nouvelle priorité", renseignez le nom et cochez la case "Valeur par défaut".<br /><br />

    <img src="../images/faq/listevaleur.jpg" alt="menu liste de valeurs" /><br /><br />
    <img src="../images/faq/ajoutlistevaleur.jpg" alt="formulaire d'ajout de liste de valeurs" /><br /><br />

    En réalisant toutes les opérations ci-dessus vous ne devriez plus avoir de problème pour l'ajout de phases, jalons<br />
    ou tâches. Si le problème persiste, veuillez contacter le support technique.<br /><br />
    
  </div>
</div>

<div id="lien4" class="reponse_faq">
  <div class="en_tete_faq">
    <div class="float_left"><b>Pourquoi ne puis-je pas rattacher à un projet un secteur d'activité que je viens de créer?</b></div><div class="float_right"><a href="#top">Haut de page</a></div>
  </div>
  <div class="clearer"></div>
  <div class="contenu_faq">
    <br />Lors de la création d'un secteur d'activité il faut faire attention à la langue de votre application. La version<br />
    Anglaise n'étant pas encore disponible nous vous conseillons de toujours configurer et utiliser la langue Française<br />
    dans Kosmopolead Project.<br /><br />

    Lors de l'ajout d'un secteur d'activité, le choix de la langue est primordial, donc pensez bien à séléctionner "Français"<br />
    dans la liste déroulante comme indiqué ci-dessous :<br /><br />

    <img src="../images/faq/secteuractivite.jpg" alt="ajout d'un secteur d'activité" width="900px" /><br /><br />

    Une fois la langue choisie, vous pouvez cliquer sur le signe "Ajouter en haut à droite (petit plus vert) renseignez le<br />
    nom du nouveau secteur d'activité et validez la création.<br /><br />

    Si le problème persiste, nous vous invitons à contacter le support technique.<br /><br />

  </div>
</div>

<div id="lien5" class="reponse_faq">
  <div class="en_tete_faq">
    <div class="float_left"><b>Comment faire pour gérer les utilisateurs et leurs rôles et permissions?</b></div><div class="float_right"><a href="#top">Haut de page</a></div>
  </div>
  <div class="clearer"></div>
  <div class="contenu_faq">
    <br />Tout d'abord, pour gérer les utilisateurs ainsi que leurs rôles et permissions vous devez disposer des droits<br />
    d'administration.<br /><br />

    Allez dans la partie "Admin" et cliquez sur "Utilisateurs" sur cet écran sont listé tous les utilisateurs de l'application<br />
    vous pouvez modifier leurs informations, leur statut : "membre ou administrateur", verouiller leur accès, et vous pouvez<br />
    aussi ajouter de nouveaux utilisateurs en cliquant simplement sur "Nouvel utilisateur".<br /><br />

    <img src="../images/faq/utilisateur.jpg" alt="gérer les utilisateurs" width="900px" /><br /><br />

    <img src="../images/faq/panneau.png" />&nbsp;&nbsp;<b>Attention!<br /><br />

    Pour ajouter un nouvel utilisateur vous devez obligatoirement renseigner les champs :<br />
    <br />
    - Identifiant<br />
    - Prénom<br />
    - Nom<br />
    - E-mail (la validité de l'e-mail et l'unicité sont vérifiées)<br /><br /></b>

    Concernant les rôles et permissions des utilisateurs retournez dans la partie administration de Kosmopolead Projects<br />
    cliquez sur "Rôles et permissions" dans le 3ème menu, vous arrivez sur cet écran : <br /><br />

    <img src="../images/faq/roles.jpg" alt="gérer rôles et permissions" width="900px"/><br /><br />

    Dans cette section vous pouvez créer des rôles spécifiques en cliquant sur "Nouveau Rôle" et ainsi lui attribuer<br />
    des permissions en cochant celles souhaitées.<br /><br />

    Vous pouvez aussi modifier les rôles déjà existant en cliquant sur leur noms, vous accederez ainsi à la liste de leurs<br />
    permissions et en cochant ou décochant certaines changer le comportement du rôle.<br /><br />

    Pour finir vous pouvez attribuer les rôles à un utilisateur pour un projet dans la partie "Administration de Kosmopolead Projects.<br />
    Cliquez sur "Utilisateurs" dans le 2ème menu, séléctionnez l'utilisateur concerné, allez ensuite dans l'onglet "Projet".<br />
    Dans cette partie vous pouvez choisir le projet et le rôle à effectuer à cet utilisateur.<br /><br />

  </div>
</div>

<div id="lien6" class="reponse_faq">
  <div class="en_tete_faq">
    <div class="float_left"><b>Qu'est ce que le "label réciproque" dans les relations entre projets?</b></div><div class="float_right"><a href="#top">Haut de page</a></div>
  </div>
  <div class="clearer"></div>
  <div class="contenu_faq">
    <br />Lorsque vous êtes sur cet écran :<br /><br />

    <img src="../images/faq/relation.jpg" alt="Ecran relations entre les projets" width="900px" /><br /><br />

    Le label et le label réciproque correspondent au principe :<br /><br />

    - a remplace b<br />
    - b est remplacé par a<br /><br />

    ce qui veut dire au niveau des projet que le projet peut être remplacé par un autre.<br /><br />

  </div>
</div>

<div id="lien7" class="reponse_faq">
  <div class="en_tete_faq">
    <div class="float_left"><b>Comment faire pour ajouter des membres à un projet?</b></div><div class="float_right"><a href="#top">Haut de page</a></div>
  </div>
  <div class="clearer"></div>
  <div class="contenu_faq">
    <br />Pour ajouter un ou des membres à un projet il vous suffit d'aller dans la partie "Projet", à partir de l'onglet dans le menu du haut.
    une fois sur cet écran :<br /><br />

    <img src="../images/faq/projet.jpg" alt="Ecran d'accueil d'un projet" width="900px" /><br /><br />

    Vous voyez à droite de l'écran une section ajouter un membre :<br /><br />

    <img src="../images/faq/ajoutmembre.jpg" alt="Ecran d'ajout de membre à un projet" width="900px" /><br /><br />

    cliquez sur le petit plus vert, à ce moment un menu s'ouvre et vous pouvez y séléctionner l'utilisateur de votre choix et lui attribuer<br />
    un rôle. Validez ensuite la saisie et vous pouvez soit continuer ou arrêter l'ajout d'utilisateur et de rôles.<br /><br />

    <img src="../images/faq/panneau.png" />&nbsp;&nbsp;<b>Attention!<br /><br />

    Pour affecter un utilisateur à un Projet vous devez obligatoirement avoir créé au moins un rôle avant.</b><br /><br />
  </div>
</div>

<div id="lien8" class="reponse_faq">
  <div class="en_tete_faq">
    <div class="float_left"><b>A quoi correspondent et comment gérer les champs personnalisés?</b></div><div class="float_right"><a href="#top">Haut de page</a></div>
  </div>
  <div class="clearer"></div>
  <div class="contenu_faq">
    <br />Tout d'abord vous devez disposer des droits d'administration pour pouvoir gérer les champs personnalisés.<br /><br />

    Allez dans la partie "Administration du site", ensuite cliquez sur "Champs personnalisés" dans le 5ème menu.<br />
    Vous disposez de 4 onglets intitulés "Evénements, temps passé, Projets, et Utilisateurs", prenons "Projets" par <br />
    exemple :<br /><br />

    <img src="../images/faq/champperso.jpg" alt="Ecran d'ajout de champs personnalisés" width="900px" /><br /><br />

    Sur l'écran ci-dessus vous pouvez voir que l'on peut gérer les champs déjà créés et en ajouter, si vous souhaitez<br />
    créer un nouveau cliquez sur "Nouveau Champ personnalisé"<br /><br />

    Grâce à ces champs personnalisés vous pouvez rajouter des "détails", de nouvelles informations si vous préférez à un profil<br />
    de projet ou d'utilisateur, que vous pourrez gérer directement dans la page d'accueil de Kosmopolead projects.<br /><br />
  </div>
</div>

<%#*<div id="lien9" class="reponse_faq">%>
  <%#*<div class="en_tete_faq">%>
    <%#*<div class="float_left">Essai de question N°1</div><div class="float_right"><a href="#top">Haut de page</a></div>%>
  <%#*</div>%>
  <%#*<div class="clearer"></div>%>
  <%#*<div class="contenu_faq">%>
    

  <%#*</div>%>
<%#*</div>%>

<%#*<div id="lien10" class="reponse_faq">%>
  <%#*<div class="en_tete_faq">%>
    <%#*<div class="float_left">Essai de question N°1</div><div class="float_right"><a href="#top">Haut de page</a></div>%>
  <%#*</div>%>
  <%#*<div class="clearer"></div>%>
  <%#*<div class="contenu_faq">%>
    
  <%#*</div>%>
<%#*</div>%>

<%#*<div id="lien11" class="reponse_faq">%>
  <%#*<div class="en_tete_faq">%>
    <%#*<div class="float_left">Essai de question N°1</div><div class="float_right"><a href="#top">Haut de page</a></div>%>
  <%#*</div>%>
  <%#*<div class="clearer"></div>%>
  <%#*<div class="contenu_faq">%>
    
  <%#*</div>%>
<%#*</div>%>

