<%= box(
    "#{l(:label_board_new)}",
    "#{render:partial=>'boards/box/new'}"
) %>
<div class="buttons right">
     <%= submit_tag l(:button_create),:class=>"button btn_blue corner-all" %>
  </div>
  <div class="clearer"></div>

