<%= box(
    "#{l(:label_role)}:#{@role.name}",
    "#{render:partial=>'roles/box/edit'}"
) %>
<div class="buttons right">
  <%= submit_tag l(:button_save),:class=>"btn_blue button corner-all" %>
</div>
<div class="clearer"></div>

