<%= box(
    "#{l(:label_role_new)}",
    "#{render:partial=>'roles/box/new'}"
) %>
<div class="buttons right">
  <%= submit_tag l(:button_create),:class=>"btn_blue button corner-all" %>
</div>
<div class="clearer"></div>