<%= error_messages_for 'file_attachment' %>

<%= form_upload({:url=>"/projects/#{@issue.project}/issues/#{@issue.id}/file_attachments/create",:col_collection=>@file_attachment,:name_initial_form=>"upload_form_file_#{@file_attachment.id}",:name_div_id=>"upload_file_#{@file_attachment.id}"}) %>
    <div id="files_index">
      <%= render:partial=>"file_attachments/index",:locals=>{:file_attachments=>@issue.file_attachments} %>
    </div>
<div id="add_file">
</div>
<%= javascript_include_tag("ajaxfileupload") %>