<%= error_messages_for 'file_attachment' %>

<%= form_upload({:url=>project_issue_file_attachments_path(@project,@issue),:method=>:post  ,:col_collection=>@file_attachment,:name_initial_form=>"upload_form_file",:name_div_id=>"upload_file"}) %>
    <div id="files_index">
      <%= render:partial=>"file_attachments/index",:locals=>{:file_attachments=>@issue.file_attachments} %>
    </div>
<div id="add_file">
</div>
<%= javascript_include_tag("ajaxfileupload") %>