<% form_tag(new_query_path(:project_id => @query.project),:method=>:post, :onsubmit => 'selectAllOptions("selected_columns");') do %>
  <%= render :partial => 'form', :locals => {:query => @query} %>
  <div class="buttons right">
    <%= submit_tag l(:button_save),:class=>"button btn_blue corner-all" %>
  </div>
  <div class="clearer"></div>
<% end %>