<% form_tag({:action => 'new', :project_id => @query.project}, :onsubmit => 'selectAllOptions("selected_columns");') do %>
  <%= render :partial => 'form', :locals => {:query => @query} %>
  <div class="buttons right">
    <%= submit_tag l(:button_save),:class=>"button btn_blue corner-all" %>
  </div>
<% end %>