<% form_tag({:action => 'create'}, :class => "tabular") do %>
  <%= render :partial => 'form' %>
  <div class="buttons right">
     <%= submit_tag l(:button_create),:class=>"button btn_blue corner-all" %>
  </div>
  <% end %>
