<table id="funding_fields_list"></table>
<div id="pager"></div>

<% content_for :header_tags do %>
    <%= javascript_include_tag 'jquery.jqGrid.min', 'jquery.jqgrid' %>
<% end %>

<%= javascript_tag("initialize_funding_grid('/projects/#{@project}/show_funding/','/projects/#{@project}/funding_lines/new');") %>