<table id="funding_fields_list"></table>
<div id="pager"></div>

<% content_for :header_tags do %>
    <%= javascript_include_tag 'jquery.jqGrid.min', 'jquery.jqgrid' %>
<% end %>

<%= javascript_tag("jQuery(document).ready(function(){initialize_funding_grid('/projects/show_funding/#{@project.identifier}/','/projects/#{@project.identifier}/funding_lines/new');})") %>