
<% form_for :project_relation_type, :url=>{:action=>:create},:html=>{:class=>"tabular"} do |f| %>
  <p><label><%= l(:label_project_relation_type) %></label>
    <%= f.text_field :relation_type %>
  </p>
  <p>
    <label><%= l(:label_project_relation_type_sym) %></label>
    <%= f.text_field :relation_type_sym %>
  </p>

  <div class="buttons right">
    <%= submit_tag l(:button_save),:class=>"btn_blue button corner-all" %>
  </div>
<% end %>